<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--Modbus配置-->
    <add key="IP" value="127.0.0.1"/>
    <add key="Port" value="502"/>
    <add key="SocketTimeOut" value="1000"/>
    <add key="StartingAddress" value="0"/>
    <add key="ConnectionString" value="server=TDD-PC\SQLEXPRESS;database=robot_test;Uid=saber;pwd=123456;" />
  </appSettings>
  <connectionStrings>
    <add name="CSharpModBusExample.Properties.Settings.robot_testConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=robot_test;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
  </configSections>
  <appSettings>
    --><!--Modbus配置--><!--
    <add key="IP" value="127.0.0.1"/>
    <add key="Port" value="502"/>
    <add key="SocketTimeOut" value="1000"/>
    <add key="StartingAddress" value="0"/>
    <add key="ConnectionString" value="Data Source=HP-PC\SQLEXPRESS;Initial Catalog=robot_test;Integrated Security=True;" />
  </appSettings>
  --><!--<connectionStrings>
    <add name="CSharpModBusExample.Properties.Settings.robot_testConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=robot_test;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>--><!--
</configuration>-->



